<div class="container-fluid" style="background-color: #EEEEEE; text-align: left;">
  <h1 style="text-align:center !important;padding:10px 0px !important;">{{userDetails.firstName}} {{userDetails.lastName}} Client Profile</h1>
  <section id="Profile">
    <div class="row" style="text-align: center !important; align-content: center !important;">
      <div class="col-lg-12">
        <img id="profileImage" src="/ClientProfile/GetClientProfileImageByUsername?username={{userDetails.username}}" alt="profileImage" style="width:250px; height:auto; align-content:center !important;" /><br />
      </div>
    </div>
    <div class="row" style="margin: 2px 0px !important;">
      <div class="col-lg-12">
        <a href="#" (click)="showClientProfileEditable($event)">Create Or Update Client Profile Summary</a><br />
        <h5>Client Profile Summary</h5>
      </div>
      <div class="col-lg-12" id="editableClientDetails" style="margin: 2px 0px !important;display:none;">
        <div id="editProfileSummary">
          <form id=profileImageForm enctype="multipart/form-data" method="post">
            <input type="hidden" [(ngModel)]="clientProfileId" id="clientProfileId" name="clientProfileId" /><br />
            <input type="hidden" [(ngModel)]="clientUserGuidId" id="clientUserGuidId" name="clientUserGuidId" /><br />
            <input type="file" id="profileImageId" name="profileImage" (change)="handleProfileImage($event.target.files)" /><br />
            <input type="button" value="Upload Profile Image" class="but-primary" (click)="uploadProfileImage()" /><br />
            <hr /><br />
            <select type="text" id="addressId" name="addressId" [(ngModel)]="addressId"></select><br /><br />
            <textarea [(ngModel)]="profile.profileSummary" name="profileSummary" placeholder="Client Profile Summary Description" cols="10" rows="6"></textarea><br />
            <input type="button" class="btn-primary" id="updateProfile" value="Update Client Profile" (click)="saveOrUpdateClientProfile()" /><br />
          </form>
        </div>
      </div>
      <div class="col-lg-12" id="divProfileSurmmary" style="margin: 2px 0px !important;">
        <div class="col-lg-12" id="profileSummary">
          {{profile.profileSummary}}
        </div>
      </div>
    </div>
    <form id="jobForm">
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Create Job</h5>
          <input type="number" name="jobId" [(ngModel)]="jobId" placeholder="JobId" readonly />
        </div>
      </div>

      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Job Name</h5>
          <input type="text" id="jobName" [(ngModel)]="jobName" placeholder="Job Name" /><br />
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Job Location</h5>
          <select id="locationId" name="locationId" [(ngModel)]="locationId"></select>
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Job Description</h5>
          <textarea id="jobDescription" [(ngModel)]="jobDescription" placeholder="Job Description" cols="10" rows="6"></textarea><br />
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Work Categories</h5>
          <select id="workCategoryId" name="workCategoryId" [(ngModel)]="workCategoryId"></select><br />
          <input type="button" value="Add Work Category" (click)="addWorkCategory($event)" /><br />
          <input type="button" value="Remove Work Category" (click)="removeWorkCategory($event)" /><br />
          <ul id="ulistWorkCategories"></ul>
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Assigned Fundi</h5>
          <select type="text" id="assignedFundiProfileId" name="assignedFundiProfileId" [(ngModel)]="fundiProfile.fundiProfileId"></select><br />
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Client Fundi Contract Id</h5>
          <select type="text" id="clientFundiContractId" name="clientFundiContractId" [(ngModel)]="clientFundiContractId"></select><br />
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" id="workCategories" style="margin: 2px 0px !important;">
          <h5>Estimate Of Days To Complete</h5>
          <input type="number" id="numberOfDaysToComplete" placeholder="Number Of Days To Complete" />
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <h5>Add Images Of Job Requirements</h5>
          <div class="col-lg-12" id="images">
            <input type="file" name="JobImage" />
          </div>
        </div>
      </div>
      <div class="row" style="margin: 2px 0px !important;">
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="hasBeenAssignedFundi" id="hasBeenAssignedFundi" />
            <label class="custom-control-label" for="hasBeenAssignedFundi">Has Been Assigned Fundi</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="hasCompleted" id="hasCompleted" />
            <label class="custom-control-label" for="hasCompleted">Has Completed</label>
          </div>
        </div>
        <div class="col-lg-12" style="margin: 2px 0px !important;">
          <input type="button" class="btn-primary" id="submit" value="Create Job" (click)="createJob($event)" />
        </div>
      </div>
    </form>
  </section>
</div>
